/* import google fonts  */

/* variables  */

:root {
  --primary-color: #8479e1;
  --text-color: #222;
  --white-color: #fff;
}

.container {
  max-width: min(100% - 2rem, 1260px);
  margin-inline: auto;
}
.colorize {
  color: var(--primary-color);
}
.cursor-pointer {
  cursor: pointer;
}
.mx-2 {
  margin: 0.3rem 1rem;
}
.text-center {
  text-align: center;
}
